@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
    transition: .3s all;
}

body.dark {
    background: #333;
    color: white;
}

#quote-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
}

#quote {
    cursor: pointer;
}

#quote span {
    animation: fadeIn .5s;
}

.author.fade-out,
#quote span.fade-out {
    animation: fadeOut .5s forwards;
}

.author {
    text-align: right;
    font-size: 21px;
    animation: fadeIn 1s;
}

#mode {
    position: absolute;
    right: 15px;
    top: 15px;
}

#mode img {
    width: 30px;
    cursor: pointer;
}

#volume-container {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    opacity: .5;
}

#volume-container:hover {
    opacity: 1;
}

#volume-container #volume {
    accent-color: gray;
    opacity: 0;
    transition: .3s;
}

#volume-container #volume:hover {
    cursor: pointer;
    opacity: 1;
}

.volume-inactive #volume,
.volume-active #volume-inactive,
.volume-inactive #volume-active {
    display: none;
}

#full-screen {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: 21px;
    cursor: pointer;
    transition: .3s;
}

#full-screen:hover {
    transform: scale(1.15);
}

body > *:not(#quote-wrapper) {
    opacity: 0;
    transition: 1s;
}

body.active > *:not(#quote-wrapper) {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rot {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}